
# Dependencies
############################
node_modules/

############################
# Build Output
############################
dist/
build/

############################
# Environment Variables
############################
.env
.env.*
!.env.example
.chrome/
############################
# Sessions / Runtime Files
############################
sessions/
*.session


.wwebjs_cache/
